################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build
/container/container.cpp
/container/container.h
/container/queue_adapter.cpp
